.tlo {
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

.home_title {
  position: absolute;
  width: 810px;
  height: 68px;
  left: 571px;
  top: 84px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 128px;
  line-height: 155px;

  color: #000000;
}

.btn_start {
  position: absolute;
  width: 293px;
  height: 109px;
  left: 70%;
  top: 662px;

  background-color: #000000;
  font-family: "JejuGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;

  color: #ffffff;
}

.btn_about {
  position: fixed;
  width: 246px;
  height: 69px;
  left: 85%;
  top: 49px;

  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.home_subtitle {
  position: absolute;
  width: 947px;
  height: 95px;
  left: calc(50% - 947px / 2 - 0.5px);
  top: 300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}
