.dashboard {
  padding: 150px;
  top: 100px;
}

.toggle_view_btn {
  margin: 10px 0;
  padding: 30px 20px;
  background-color: #1221ac;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.toggle_view_btn:hover {
  background-color: #0e57c5;
}

.banks_table {
  width: 100%;
  border-collapse: collapse;
}

.banks_table th,
.banks_table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.banks_table th {
  background-color: #0927ad;
  color: white;
  text-align: left;
}

.banks_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.banks_table tr:hover {
  background-color: #ddd;
}

.banks_table td a {
  color: black;
}

.return_home_2 {
  position: absolute;
  width: 122px;
  height: 98px;
  left: 1753px;
  top: 50px;
}
