.map {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.home_return {
  /* strona główna 3 */

  position: absolute;
  width: 35px;
  height: 30px;
  left: 12px;
  top: 80px;
  z-index: 9999;
}

.page_return {
  /* image 16 */

  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 114px;
  z-index: 9999;
}
